<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename="main.js")}}"></script>
    <title>Dojos</title>
</head>
<body>
    <form action="">
            <h1>Login to your Ninja account</h1>
            <label>Enter Name:</label>
            <input type="text">
            <label>Enter Password:</label>
            <input type="password">
            <input type="submit" value="Login">
        </form>
</body>
</html>